
body {
    background-color: lightblue;
}

li {
	 list-style-type: none;
}

li:hover {
	color: black;
	background-color:  #ccddff;
}

img {
	height: 50px;
	width: 80px;
}

.moviesCounter 	{
	font-weight: bold;
}

.movie {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;

}

.title {
	font-weight: bold;
}

#moviesCountersContainer{
		float: right;
}

#moviesListContainer{
	padding-top: 100px;
	clear: right;
	margin: auto;
	text-align: center;
	width: 500px;
}

